{% extends 'master.html' %}

{% block content %}
<style>
	.btn-warning{
		color: #fff!important;
		background: red!important;
	}
	.btn-link{
		padding: 7px 10px;
		border-radius: 5px;
		border: 1px solid #ccc;
		display : inline-block;
	}
	#delConfirm{
		border: 1px solid red;
		padding: 30px;
		padding-bottom: 10px;
		width: 320px;
		margin: 30px auto;
		margin-bottom: 0px;
	}
	.left-3{
		margin-right: 10px;
	}
</style>
<div class="container" id="delConfirm">
<form method="post">{% csrf_token %}
    <p>"<strong>{{ object }}</strong> မှာထားသည့် ရေမုန့်  <strong>{{object.p_count}}ခု </strong>  ဖျက်မှာသေချာပြီလား"?</p>
    <a href="{% url 'frontend:home' %}" class="btn btn-link left-3" > မဖျက်တော့ပါ </a>
    <input type="submit" class="btn btn-warning" value="သေချာပြီ">
</form>
</div>
{% endblock %}
